<p *ngIf="!leases"><em>Loading...</em></p>

<h2>Mismanaged Leases</h2>

<table class='table' *ngIf="leases">
    <thead>
        <tr>
            <th>Actions</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>StartDate</th>
            <th>Duration</th>
            <th>Rent</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lease of leases">
            <td *ngIf="lease.tenant.current;then ifTrue else other"> </td>
                <ng-template #ifTrue>
                    <a [routerLink]="['/lease-detail', lease.tenant.currentLeaseId]">view lease</a>
                    <div class="divider"></div>
                    <button (click)="deleteLease(lease.id)">delete</button>
                </ng-template>
                <ng-template #other>
                </ng-template>
            <td>{{ lease.tenant.firstName }}</td>
            <td>{{ lease.tenant.lastName }}</td>
            <td>{{ getPrettyDate(lease.startDate) }}</td>
            <td>{{ lease.durationMonths }} months</td>
            <td>${{ lease.rentMonthly }}</td>
            <td>{{ lease.apartmentComplexUnit.address }}</td>
        </tr>
    </tbody>
</table>
