<h2>Mismanaged Tenants</h2>

<p *ngIf="!tenants"><em>Loading...</em></p>

<table class='table' *ngIf="tenants">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Is Current</th>
            <th>View Lease</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tenant of tenants">
                <td>{{ tenant.firstName }}</td>
                <td>{{ tenant.lastName }}</td>
                <td>{{ tenant.phone }}</td>
                <td>{{ tenant.email }}</td>
                <td>{{ tenant.current }}</td>
                <td *ngIf="tenant.current">
                    <a [routerLink]="['/leases', tenant.id]">view lease</a>
                </td>
            </tr>
    </tbody>
</table>
