<h1>Property Mismanagement</h1>
<h3>There's no better way to get your tenants to hate you</h3>

<br/>

<h2>README.md</h2>

<h4>Welcome to Nate Wilson's MVC project for COMP586, Object Oriented Design.</h4>

<br/>

<h4>The Purpose</h4>
<p>
    To simulate a Property management system. Thanks to Karen Wilson for the idea.
</p>
<p>
    There are Tenants, Properties, and Leases. I started out with more but it got really complicated and I'm just a student with other classes. <br/>
    You can view all Properties, Tenants, or Leases by clicking the links to the left. <br/> 
    Once there you can view details for an individual component by clicking on "view". <br/>
    In the Details view for an individual Property, Lease, or Tenant, you can update their respective fields by clicking "edit" or just delete the entry. Whatever.
</p>
<p>
    The REST operations for CRUD can be found inside of <b>PropertyDataController.cs</b> inside of the "Controllers" folder.
</p>

<br/>

<h4>Front End</h4>
<p>
    The front end consists of the following Angula components that implement the <strong>V</strong> in MVC:
</p>
<h5>Views</h5>
<ul>
    <li><strong>tenants:</strong> for viewing all tenants</li>
    <li><strong>tenant-detail:</strong> for viewing and updating detailed info about an individual tenant</li>
    <li><strong>tenant-create:</strong >for creating a new tenant</li>
    <li><strong>properties:</strong> for viewing all properties</li>
    <li><strong>property-detail:</strong> for viewing and updating detailed info about an individual property</li>
    <li><strong>property-create:</strong >for creating a new property</li>
    <li><strong>leases:</strong> for viewing all leases</li>
    <li><strong>lease-detail:</strong> for viewing and updating detailed info about an individual lease</li>
    <li><strong>lease-create:</strong> for creating a new lease, linking against an existing poperty and tenant, as well as specifying details about the apartment unit</li>
    <ul>
        <li>
            The apartment unit detail info could have been designed better. see Disclaimer section below.
        </li>
    </ul>
</ul>


<br/>

<h4>Back End</h4>
<h5>Models</h5>
<p>these <strong>models</strong> have corresponding database tables. Together, they ipmplement the <strong>M</strong> part of MVC.</p>
<ul>
    <li><strong>ApartmentComplex</strong>: represents an Apartment Complex</li>
    <li><strong>ApartmentComplexUnit</strong>: represents an Apartment Complex Unit. Has a foreign key to ApartmentComplex.</li>
    <li><strong>Person</strong>: represents a person. This is not the same as a tenant. A person is not a tenant until a Lease entry is created that references them.</li>
    <li><strong>Lease</strong>: a person becomes a Tenant when they have a lease created and put into the Lease table. The Lease table has a foreign key to the Person table and to the ApartmentComplexUnit table</li>
</ul>
<p>See PropertyMismagementContext.cs</p>

<br/>

<h5>Controllers</h5>
<p>There are two controllers:</p>
<ul>
    <li>HomeController</li>
        <ul><li>the default controller delivering the SPA compliant index page</li></ul>
    <li>PropertyDataController</li>
        <ul><li>the controller responsible for communication between a given View and Model</li></ul>
</ul>

<h3>Checklist</h3>
<h4><strong>Done</strong></h4>
<ul>
    <li><strong>SPA</strong>. Angular 4 front end made this "kind of" easy. I say "kind of" because I had a lot of inexplicable errors that only a fresh repository clone would solve.</li>
    <li><strong>ORM</strong>. ASP.NetCore 2 back end with EFCore2 made database implementation pretty easy. See Data.PropertyManagementContext.cs and Data.DBInitializer.cs</li>
    <li><strong>Dependency Injection:</strong>
        <ul>
            <li>Startup.ConfigureServices() makes dependency injection insanely simple.</li>
            <li>On the front end, Angular4 DI is even easier. All I did was create some component constructors with parameters. It's magic and I don't understand it.</li>
            <li>Anyway back to ASP.NET DI. <strong>Startup.ConfigureServices():</strong>
                <ul>
                    <li>Specifies MVC serialization options.</li>
                    <li>Instantiates <b>PropertyMismanagementContext</b> for injection into <b>IDatabaseService</b></li>
                    <li>Instantiates <b>PropertyMismanagementDataBaseService</b>, which implements <b>IDatabaseService</b> interface via AddTransient().</li>
                    <li>PropertyDataController in turn requires IDatabase service as a depency. ASP.NET took care of intantiation and injection.</li>
                </ul>
            </li>
            <li><strong>CRUD</strong>: Create, Read, Update, and Delete operations work. Thanks Postman.</li>
        </ul>
    </li>
</ul>

<br/>

<h4><strong>Todo</strong> (in priority order)</h4>
<ul>
    <li><strong>Unit Testing:</strong> this is probably the only thing i will be able to get done in the time that i have left.</li>
    <li><strong>Authentication</strong> There is none. I made the mistake of choosing the Angular template over the Authentication template and waiting to long to explore this option. I will not be getting anything on the rest of this todo list done :(. </li>
    <li><strong>Input validation:</strong> There is nonse. DON'T put non-number strings into fields that expext numbers. I don't know what will happen.</li>
    <li><strong>Return the standard web codes:</strong>
        <ul>
            <li>All of PropertyDataController's functions are just "void" or "async Task<>". </li>
            <li>Also Database errors just barf all over console output. Luckily this doesn't really affect the webpage. Still totally uncool.</li>
        </ul>
    </li>
    <li><strong>Persinstent Databse:</strong> this app uses an in memory database to illustrate its concepts. probably won't get top this, BUT it was originally created with a  SQL database. you can view:
        <ul>
            <li>Connection string stored inside of appsettings.json, under "DefaultConnection"</li>
            <li>"//options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection")));", visible inside of Startup.ConfigureServices.</li>
        </ul>
    </li>
    <li><strong>Add a paragraph talking about SOLID principles?</strong></li>
</ul>

<br/>

<h4>Disclaimer</h4>
<p>This app doesn't look good. In fact it looks like it's from the 90's. I have very little web experience, and even less Angular experience.</p>
<br/>