<h2>Mismanaged Properties</h2>

<p *ngIf="!complexes"><em>Loading...</em></p>

<table class='table' *ngIf="complexes">
  <thead>
      <tr>
          <th>Actions</th>
          <th>Address</th>
          <th>Total Units</th>
          <th>Occupied Units</th>
          <th>Available Units</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let complex of complexes">
          <td>
              <a [routerLink]="['/property-detail', complex.id]">view property</a>
          </td>
          <td>{{ complex.address }}</td>
          <td>{{ complex.size }}</td>
          <td>{{ complex.occupiedCount }}</td>
          <td>{{ complex.size - complex.occupiedCount }}</td>
      </tr>
  </tbody>
</table>
