<html>
    <head>
    </head>
    <body ng-app="app-lease-detail">
        
        <p *ngIf="!leases"><em>Loading...</em></p>
        
        <div *ngIf="editMode;then editable else readOnly"></div>
        <ng-template #editable>
            <h2>Lease Detail - {{leases[0].tenant.firstName}} {{ leases[0].tenant.lastName }}</h2>
            <h4>Click on any field to change its value</h4>
            
            <table class='table' *ngIf="leases">
                <thead>
                <tr>
                    <th>Start Date</th>
                    <th>Duration</th>
                    <th>Rent</th>
                    <th>Unit #</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let lease of leases">
                    <td>
                        <!--<input [(ngModel)]="vmStartDate"/>-->
                        {{ vmStartDate }}
                    </td>
                    <td>{{ vmDuration }} months</td>
                    <td>${{ vmRent }}</td>
                    <td>{{ vmUnitNumber }}</td>
                    <td>{{ lease.apartmentComplexUnit.apartmentComplex.address }}</td>
                    <td> </td>
                </tr>
                </tbody>
            </table>
            
            <div>
                <button md-raised-button (click)="cancel()">Cancel</button>
                <div class="divider"></div>
                <button md-raised-button (click)="submit()">Submit</button>
            </div>
        </ng-template>
        <ng-template #readOnly>
            <h2>Lease Detail - {{leases[0].tenant.firstName}} {{ leases[0].tenant.lastName }}</h2>
        
            <table class='table' *ngIf="leases">
                <thead>
                <tr>
                    <th>Start Date</th>
                    <th>Duration</th>
                    <th>Rent</th>
                    <th>Unit #</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let lease of leases">
                    <td>{{ actualStartDate }}</td>
                    <td>{{ lease.durationMonths }} months</td>
                    <td>${{ lease.rentMonthly }}</td>
                    <td>{{ lease.apartmentComplexUnit.unitNumber }}</td>
                    <td>{{ lease.apartmentComplexUnit.apartmentComplex.address }}</td>
                    <td> </td>
                </tr>
                </tbody>
            </table>
        
            <button (click)="toggleEditMode()">
                Edit
            </button>
        </ng-template>
    </body>
</html>