<html>
    <head>
    </head>
    <body ng-app="app-lease-detail">
        
        <p *ngIf="!leases"><em>Loading...</em></p>
        
        <h2>Lease Detail - {{leases[0].tenant.firstName}} {{ leases[0].tenant.lastName }}</h2>
        <h4 *ngIf="deleted"><b>Deleted</b></h4>
        
        <div *ngIf="editMode;then editable else readOnly"></div>
        <ng-template #editable>
            <table class='table' *ngIf="leases">
                <thead>
                <tr>
                    <th>Actions</th>
                    <th>Start Date</th>
                    <th>Duration</th>
                    <th>Rent</th>
                    <th>Unit #</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let lease of leases">
                    <td *ngIf="lease.tenant.current;then ifTrue else other"> </td>
                    <ng-template #ifTrue>
                        <a [routerLink]="['/tenant-detail', lease.tenant.id]">view tenant</a>
                    </ng-template>
                    <ng-template #other>
                        none
                    </ng-template>
                    <td><input [(ngModel)]="vmStartDate"/></td>
                    <td> <input [(ngModel)]="vmDuration"/> months</td>
                    <td>$ <input [(ngModel)]="vmRent"/></td>
                    <td><input [(ngModel)]="vmUnitNumber"/></td>
                    <td>{{ lease.apartmentComplexUnit.apartmentComplex.address }}</td>
                    <td> </td>
                </tr>
                </tbody>
            </table>
            
            <div>
                <button md-raised-button (click)="cancel()">cancel</button>
                <div class="divider"></div>
                <button md-raised-button (click)="submit()">submit</button>
            </div>
        </ng-template>
        <ng-template #readOnly>
        
            <table class='table' *ngIf="leases">
                <thead>
                <tr>
                    <th>Actions</th>
                    <th>Start Date</th>
                    <th>Duration</th>
                    <th>Rent</th>
                    <th>Unit #</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let lease of leases">
                    <td *ngIf="lease.tenant.current;then ifTrue else other"> </td>
                    <ng-template #ifTrue>
                        <a [routerLink]="['/tenant-detail', lease.tenant.id]">view tenant</a>
                    </ng-template>
                    <ng-template #other>
                        none
                    </ng-template>
                    <td>{{ actualStartDate }}</td>
                    <td>{{ lease.durationMonths }} months</td>
                    <td>${{ lease.rentMonthly }}</td>
                    <td>{{ lease.apartmentComplexUnit.unitNumber }}</td>
                    <td>{{ lease.apartmentComplexUnit.apartmentComplex.address }}</td>
                    <td> </td>
                </tr>
                </tbody>
            </table>
        
            <button *ngIf="!deleted" (click)="toggleEditMode()">
                edit
            </button>
            <div class="divider"></div>
            <button *ngIf="!deleted" (click)="deleteLease()">
                delete
            </button>

        </ng-template>
    </body>
</html>